master_controller_pcb/gerber/
master_controller_pcb/gerber2/
master_controller_pcb/pdf/

*.pdf

master_controller_pcb/gerber.zip

Firmware/v1/TM1638DisplayTest/
Firmware/v1/master_controller_firmware_v1/.vs/
Firmware/v1/master_controller_firmware_v1/Debug/
Firmware/v1/master_controller_firmware_v1/Release/
*.bat 

debug/

!encloser/encloser.pdf
Firmware/TM1638_datasheet.pdf